$color-neutral-0: #FFFFFF;
$color-neutral-200: #D4D3D9;
$color-neutral-300: #ACACB7;
$color-neutral-600: #3C3B5E;
$color-neutral-700: #302F4A;
$color-neutral-800: #262540;
$color-neutral-900: #02012C;

$color-orange-500: #FF820A;

$color-blue-500: #4658D9;
$color-blue-700: #2B1B9C;