// Importation des fonts locales
@font-face {
    font-family: DM-Sans;
    src: url('../../assets/fonts/DM_Sans/static/DMSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: DM-Sans;
    src: url('../../assets/fonts/DM_Sans/static/DMSans-Medium.ttf');
    font-weight: 400;
}

@font-face {
    font-family: DM-Sans;
    src: url('../../assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: DM-Sans;
    src: url('../../assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: DM-Sans;
    src: url('../../assets/fonts/DM_Sans/static/DMSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Bricolage Grotesque;
    src: url('../../assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf');
    font-weight: 700;
}

// Typo presets
@mixin text-preset-1 {
    font-family: 'DM-Sans';
    font-style: italic;
    font-weight: 700;
    font-size: calc(96/16*1rem);
    line-height: 100%;
    letter-spacing: 0.2rem;
}

@mixin text-preset-2 {
    font-family: 'Bricolage Grotesque';
    font-weight: 700;
    font-size: calc(52/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-3 {
    font-family: 'DM-Sans';
    font-weight: 300;
    font-size: calc(32/16*1rem);
    line-height: 100%;
    letter-spacing: 0;
}

@mixin text-preset-4 {
    font-family: 'DM-Sans';
    font-weight: 700;
    font-size: calc(28/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-5 {
    font-family: 'DM-Sans';
    font-weight: 600;
    font-size: calc(20/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-5-medium {
    font-family: 'DM-Sans';
    font-weight: 400;
    font-size: calc(20/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-6 {
    font-family: 'DM-Sans';
    font-weight: 400;
    font-size: calc(18/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-7 {
    font-family: 'DM-Sans';
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0;
}

@mixin text-preset-8 {
    font-family: 'DM-Sans';
    font-weight: 400;
    font-size: calc(14/16*1rem);
    line-height: 120%;
    letter-spacing: 0;
}