$spacing-0: 0;
$spacing-025: 0.2rem;
$spacing-050: 0.4rem;
$spacing-075: 0.6rem;
$spacing-100: 0.8rem;
$spacing-125: 1.0rem;
$spacing-150: 1.2rem;
$spacing-200: 1.6rem;
$spacing-250: 2.0rem;
$spacing-300: 2.4rem;
$spacing-400: 3.2rem;
$spacing-500: 40rem;
$spacing-600: 4.8rem;
$spacing-800: 6.4rem;
$spacing-1000: 8.0rem;
$spacing-1200: 9.6rem;
$spacing-1400: 112rem;
$spacing-1600: 128rem;
$spacing-1800: 140rem;