@use '../abstracts/colors' as c;
@use '../abstracts/typo' as t;

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: c.$color-neutral-800;
    border: 1px solid c.$color-neutral-600;
    box-sizing: border-box;
    z-index: 2;

    input[type="radio"] {
        appearance: none;
    }
    label:has(input:checked) {
        background: c.$color-neutral-600;
        &::after {
            content: url("/assets/images/icon-checkmark.svg");
            position: absolute;
            width: 14px;
            height: 17px;
            right: 8px;
        }
    }
    label {
        position: relative;
        cursor: pointer;
        color: white;
        @include t.text-preset-7;
    }
    legend {
        color: c.$color-neutral-300;
        @include t.text-preset-8;
    }

    button {
        width: 100%;
        text-align: left;
        @include t.text-preset-7;
    }

    .separator {
        background: c.$color-neutral-600;
        height: 1px;
    }
}