@use './abstracts/colors';
@use './abstracts/radius';
@use './abstracts/spacing';
@use './abstracts/typo';
@use './base/reset';
@use './base/global';
@use './components/button';
@use './components/card';
@use './components/dropdown';
@use './components/weather';
@use './layout/header';
@use './layout/nav';

@tailwind base;
@tailwind components;
@tailwind utilities;